p,h4{
    margin:0;
    padding:0
}
h4{
    margin-bottom: 15px;
}
.clear{
    clear:both
}
.bold{
    color:#8598B7;
}
.userPlist .org{
   /* color: #ff910c */
}
.more{
    margin-left:100px;
    cursor: pointer;
    font-size:12px;
}
.more a{
    text-decoration: none;
    color:#0f92ed;

}
.userValue{
    color: #3d4966;
}
.userArea{
    width:380px;
    margin-bottom: 20px;
}
.userArea p{
    margin-bottom: 5px;
    font-size:14px;
}
.userPlist{
    float:left;
    width:170px;
}
.userPlist2{
    margin-left:20px;
}